[popover] {
  position-area: top span-right;
  position-try-fallbacks:
    bottom span-left,
    top span-left,
    bottom span-right;
}

[popover] {
  opacity: 0;
  transform: translateY(-5px);
  filter: blur(2px);

  transition:
    opacity 160ms ease,
    transform 180ms cubic-bezier(0.16, 1, 0.3, 1),
    filter 180ms ease,
    display 180ms allow-discrete,
    overlay 180ms allow-discrete;

  &:popover-open {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }

  @starting-style {
    &:popover-open {
      opacity: 0;
      transform: translateY(-5px);
      filter: blur(2px);
    }
  }
}
